.title {
  background: rgb(141, 141, 172);

  text-align: center;
  font-family: MyFont;
}

.wrapper {
  display:flex;
  background: silver;
  border: 5px solid red;
}

.leftRail {
  width:60%;
  border: 5px solid red;
}

.rightRail {
  width: 50%;
  background-image:url('../../assets/images/cnbcTvAudio.gif');
}