.errorWrapper {
  background:none;
  border: 1px solid silver;
  background: red;
  color: white;
}

.wrapper {
  background:none;
  border: 1px solid silver;
  height: 352px;
  
  h1 {
    position: relative;
    top: 35%;
    text-align: center;
    color: #636363;
  }

  .timeRange {
    text-align: center;
    position: relative;
    height: 45px;
    border-bottom: 1px solid silver;
  }
  
  h3 {
    background: red;
    text-align: center;
  }
  div{
    text-align: center;
  }
}