/**
	Provide style configurations here
*/

.stx_mountain_chart {
  width: 1px;
  border-top-color: rgba(32, 119, 182, 1);
  background-color: rgba(147, 184, 219, 1);
  color: #fff;
}

.ciq-chart-area {
  top: 85px;
}

.ciq-nav { 
  color: black;
}

.fullScreen {
  color: red;
  position: relative;
  z-index: 100;
}

.cq-chart-container, .cq-chart-container.break-lg, .cq-chart-container.break-sm, .cq-chart-container.break-lg {
	border: 1px solid silver;
  height: 395px;
  position: relative;
  }

  .cq-chart-container.break-lg {
    border: 5px solid red;
  }
  
  .chartiqWrapper {
	  border: 1px solid silver;
  }
  
  div.ciq-nav > cq-show-range {
	position: relative;
  }