/**
	Provide style configurations here
*/

.stx_mountain_chart {
  width: 1px;
  border-top-color: rgba(32, 119, 182, 1);
  background-color: rgba(147, 184, 219, 1);
  color: #fff;
}

.cq-chart-container.break-lg {
	border: 1px solid silver;
	height: 395px;
  }
  
  .chartiqWrapper {
	border: 1px solid silver;
  }
  
  div.cq-chart-container.break-lg {
	position: relative;
  }
  
  div.ciq-nav > cq-show-range {
	position: relative;
  }